.about-heading {
  font-family: 'Open Sans', sans-serif;
  text-transform: none !important;
  font-weight: 300 !important;
  color: #000;
  font-size: 28px;
  padding-bottom: 30px;
}

.gallery-heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #000;
  font-size: 28px;
  padding-bottom: 30px;
}
